<%= f.hidden_field :version %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name, tabindex:1, class:"span12" %>
</div>

<div>
  <span class="help-inline pull-right">Learn how to format this page by looking at <%= link_to "textile documentation", "http://www.textism.com/tools/textile/", target:"_blank" %></span>
  <%= f.label :body %>
  <%= f.text_area :body, tabindex:2, rows:20, class:"span12" %>
</div>
<br/>

<div>
  <span class="help-inline pull-right">Select the tags below that apply to this page or <%= link_to "add your own", tags_path %></span>
  <label>
    Tags
  </label>

  <div class="controls tags">
    <% @page.tags.each do |tag| %>
    <%= tag_selector tag, true %>
    <% end %>
    <% (Tag.all - @page.tags).each do |tag| %>
    <%= tag_selector tag, false %>
    <% end %>
  </div>

  <%= f.select :tag_ids, options_from_collection_for_select(Tag.all, :id, :name, @page.tags.map(&:id)), {}, multiple:true, size:6, style:"opacity:0;position:absolute;left:-400px;" %>
</div>
<br/>

<div>
  <%= f.label :thumbnail %>
  <%= image_tag @page.thumbnail.url(:small) if @page.thumbnail? %>
  <%= f.file_field :thumbnail %>
</div>
<br/>

<div class="form-actions">
  <div class="pull-right">
    <%= link_to "Cancel", wiki_path(@page), class:"btn" %>
    <%= f.submit "Save", disable_with:'Saving...', tabindex:3, class:"btn btn-primary" %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".tags .tag").click(function() {
    var tag = $(this);
    var tagOption = $("#page_tag_ids option[value='" + tag.attr("tagId") + "']");
    
    if (tag.hasClass("label-info")) {
      tag.removeClass("label-info");
      tagOption.attr("selected", null);

    } else {
      tag.addClass("label-info");
      tagOption.attr("selected", "selected");
    }
    return false;
  });
});
</script>
