<%= f.hidden_field :version %>

<div>
  <%= f.label :name %>
  <%= f.text_field :name, tabindex:1, class:"span12" %>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body, tabindex:2, rows:20, class:"span12" %>
</div>
<br/>

<div>
  <label>
    Tags
    <span class="hint">Select the tags below that apply to this page</span>
    <%= link_to "Manage Tags", tags_path %>
  </label>

  <div class="controls tags">
    <% @page.tags.each do |tag| %>
    <%= tag_selector tag, true %>
    <% end %>
    <% (Tag.all - @page.tags).each do |tag| %>
    <%= tag_selector tag, false %>
    <% end %>
  </div>

  <%= f.select :tag_ids, options_from_collection_for_select(Tag.all, :id, :name, @page.tags.map(&:id)), {}, multiple:true, size:6, style:"opacity:0;position:absolute;left:-400px;" %>
</div>
<br/>

<div>
  <%= f.label :thumbnail %>
  <%= f.file_field :thumbnail %>
</div>
<br/>

<div class="form-actions">
  <%= f.submit "Save", disable_with:'Saving...', tabindex:3, class:"btn btn-primary" %>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".tags .tag").click(function() {
    var tag = $(this);
    var tagOption = $("#page_tag_ids option[value='" + tag.attr("tagId") + "']");
    
    if (tag.hasClass("label-info")) {
      tag.removeClass("label-info");
      tagOption.attr("selected", null);

    } else {
      tag.addClass("label-info");
      tagOption.attr("selected", "selected");
    }
    return false;
  });
});
</script>
