<% page title:@page.name, class:"wiki-page #{@page.page_class}" %>

<% subtitle raw [available_page_actions(@page), tags_for_page(@page)].compact.join(" &nbsp; ") %>

<%= link_to image_tag(@page.thumbnail.url(:medium), class:"page-thumbnail"), @page.thumbnail.url if @page.thumbnail? %>

<div class="page-content">
<%= raw @html %>
</div>

<% if @page.attachments.size > 0 %>
  <div class="page-attachments">
    <h4>Attachments</h4>
    <ul>
      <% @page.attachments.each do |attachment| %>
        <% next if attachment.is_image? %>
        <li><%= link_to attachment.content_file_name, attachment.url %></li>
      <% end %>
    </ul>
    <ul class="thumbnails">
      <% @page.attachments.each do |attachment| %>
        <% next unless attachment.is_image? %>
        <li class="span2">
          <%= link_to image_tag(attachment.thumbnail), attachment.url, class:"thumbnail" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if can_edit? %>
  <%= link_to_function "Add an Attachment", "$(this).hide().next().show()" %>
  <%= form_for [@page, @page.attachments.build], html:{multipart:true, style:"display:none;"} do |f| %>
    <%= f.file_field :content %>
    <%= f.submit "Upload", class:"btn btn-primary" %>
  <% end %>
<% end %>
