<div>
  <%= f.label :name %>
  <%= f.text_field:name %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div>
  <label class="checkbox">
    <%= f.check_box :admin %>
    Admin
  </label>
</div>

<div>
  <label class="checkbox">
    <%= f.check_box :editor %>
    Editor
  </label>
</div>

<div class="form-actions">
  <%= f.submit nil, class:"btn btn-primary" %>
</div>
