<% page title:"Users" %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Provider</th>
    <th>Editor?</th>
    <th>Admin?</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% name = user.name.blank? ? h("<no name>") : user.name %>
    
      <td><%= link_to name, edit_admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.provider %></td>
      <td><%= "X" if user.editor? %></td>
      <td><%= "X" if user.admin? %></td>
      <td>
        <%= link_to "[x]", admin_user_path(user), method:"delete",
                    confirm:"Are you sure you want to delete #{name}" %>
      </td>
    </tr>
  <% end %>
</table>

